.game-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 70px;
}

.game-image {
    width: 400px;
}

.button-word-container {   
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.start-button {
    background-color: #27AE60;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 8px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.hidden-word-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.hidden-word-container span {
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
}